@import "~video-react/styles/scss/video-react";

.wrapper{
    color: #000;
    width: 100%;
    height:700px ;
    

}
// video-js vjs-big-play-centered vjs-controls-enabled vjs-workinghover vjs-v7 video-player-1669912306286-dimensions vjs-has-started vjs-paused vjs-user-inactive